/** @format */
@import "imports/variables.css";

* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--color-dark-blue);
}

h2 {
  font-family: 'Londrina Solid', 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header {
  background-color: var(--color-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 5px 10px;
}

header div {
  display: flex;
  align-items: center;
}
nav {
  display: none;
  position: fixed;
  top: 75px;
  background-color: var(--color-dark-blue);
  z-index: 1000;
  right: 0px;
  max-width: 130px;
  text-align: center;
}

li {
  display: block;
  padding: 10px 15px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-icon {
  color: white;
}

.logo {
  max-width: 70px;
  margin-right: 5px;
}

.search-btn {
  display: none;
  position: relative;
}

#search-icon {
  position: absolute;
  left: 20px;
  color: white;
}

#search-field {
    border-radius: 40px;
    border: none;
    padding: 7px;
    background-color: var(--color-purple);
    max-width: 10vw;
}

::placeholder {
    color: white;
    text-align: center;
}

/* footer */

footer {
  background-color: var(--color-dark-blue);
  padding: 20px 10px 40px;
  text-align: center;
}
.footer__about, .footer__social h3 {
  display: none;
}

.footer__social {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.fab {
  margin: 10px;
}

footer p {
  display: none;
}

#copyright {
  display: initial;
  color: white;
  margin: 20px;
}
/* Links */
a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0px;
}

li {
  display: block;
  padding: 10px;
}

nav a {
  text-transform: uppercase;
}

.active {
  border-bottom: 2px solid var(--color-dark-orange);
  padding-bottom: 3px;
}

.btn {
  display: inline-block;
  margin: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 15px 25px;
  border-radius: 40px;
}
.purple-btn {
  background-color: var(--color-purple);
}

.blue-btn {
  background-color: var(--color-dark-blue);
  margin: auto;
}

.light-blue-btn {
  background-color: #1AA7FF;
  margin: 0px;
  padding: 7px 18px;
  font-size: 0.5em;
}

.my-first-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 51% 34%;
  grid-template-rows: 50%;
  background-color: aqua;
}

.my-first-grid h3 {
    color: var(--color-dark-blue);
    padding: 10px;
    text-align: center;
    background-color: white;
}

.my-first-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.labo-img {
  position: relative;
}
.grid-item-1 h3 {
  position: absolute;
}

.grid-item-1 {
  grid-row: 1/3;
  grid-column: 1;
}

.grid-item-4 {
  grid-row: 2;
  grid-column: 2;
}

[class^='grid-item'] {
  display: grid;
  align-items: center;
  justify-content: center;
}